/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: vertical;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

@font-face {
    font-family: "Helvetica";
    src: url(/font/helveticaneuecyr_roman.woff);
}

*{
    font-family: "Helvetica", sans-serif;
}

.container{
    max-width: 1660px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    background-color: #ecf2f6;
}

.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
}

.svg-alfa {
    width: 20px;
    height: 21px;
    fill: none;
    stroke: #a33419;
}

/* header */

.header{
    background-color: #ce253d;
    margin-bottom: 30px;
    padding: 10px;
}


.menu__list{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 18px;
}

.menu__link{
    color: white;
}

/* catalog */
.catalog__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
}

/* product-card */

.product-card{
    display: flex;
    flex-direction: column;
    max-width: 485px;
    border: 1px solid #e5e9ec;
    border-radius: 25px;
    padding-bottom: 32px;
    box-shadow: 0 9px 32px rgba(11, 23, 82, .21);
    background-color: #fff;
}

.product-card__image{
}

.product-card__img{
    border-radius: 25px;
    object-fit: contain;
}

.product-card__body{
    padding: 32px;
}

.product-card__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
}

.product-card__text{
    font-size: 16px;
    line-height: 1.625;
    flex: 1 1 auto;
}


.product-card__link{
    background: #c61730;
    border-radius: 15px;
    color: #fff;
    padding: 16px 24px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.6px;
    font-size: 15px;
    font-weight: 600;
}

.product-card__link:hover{
    background-color: #9f1126;
}

.product-card__bottom{
    padding: 0 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.product-card__price{
    font-weight: 600;
}


.footer{
    background-color: #f6f6f6;
    height: 50px;
}

@media (max-width: 1080px) {
    .catalog__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .catalog__list{
        display: flex;
        flex-wrap: wrap;
    }

    .product-card{
        max-width: 100%;
    }
}
